name: graphviz-dot-hooks
on:
  # All PR
  pull_request:
  # master branch merge
  push:
    branches:
      - master

jobs:
  linting:
    # Run pre-commit (https://pre-commit.com/)
    # which runs pre-configured linter & autoformatter
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: 3.11
    - run: bash .github/workflows/install_ci_python_dep.sh
    - run: pre-commit run -a

  test:
    # Test suite run against recent python versions
    # and against a few combination of MongoDB and pymongo
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12"]
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        check-latest: true
    - name: install ci dependencies
      run: |
        bash .github/workflows/install_ci_python_dep.sh
    - name: Run test suite
      run: pytest